 <!-- Publications Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

            	<font size="+5"> <b> Journals </b> <br/> </font>

                <p>[J1] Journal REF. <a href="https://ieeexplore.ieee.org/document/9000876" style="color:#0092a2">[link]</a> <br/></p>

                <font size="+5"> <b> Conferences </b> <br/> </font>

                <p>[C1] Conference REF. <a href="https://ieeexplore.ieee.org/document/8946361" style="color:#0092a2">[link]</a> <br/> </p>
    

                <!--<font size="+5"> <b> Posters </b> <br/> </font>


                <p>[P1] Poster REF. <a href="download/poster/POSTER.pdf" style="color:#0092a2">[PDF]</a> <br/> </p>


                <p>[BS] Bachelor's Thesis <a href="download/thesis/TEZ.pdf" style="color:#0092a2">[PDF]</a> <br/> </p>-->

            </div>
            <div class="row">
            <p><br/>Visit my profile on Google Scholar: <a href="https://scholar.google.com/citations?user=UpfFN4IAAAAJ" style="color:#0092a2">Anıl Adar</a>
            </p>
            </div>
        </div>
    </section>
